<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white">E-Commerce</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul *ngIf="checkLogin()" class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home<!--<span class="sr-only">(current)</span>--></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cart">Cart</a>
      </li>
    </ul>
    <ul *ngIf="checkLogin()" class="navbar-nav float-right">
      <li class="nav-item">
        <a class="nav-link" (click)="clearLocal()">Logout</a>
      </li>
      <li *ngIf="firstname!=null">
        <a class="nav-link" style="color:white">Hi, {{firstname}}</a>
      </li>
    </ul>
  </div>
</nav>
<div *ngIf="staticSuccess!=null" class="alert alert-success">
  <strong>Success!</strong> {{staticSuccess}}
</div>

<div *ngIf="staticInfo!=null" class="alert alert-info">
  <strong>Info!</strong> {{staticInfo}}
</div>

<div *ngIf="staticWarning!=null" class="alert alert-warning">
  <strong>Warning!</strong>{{staticWarning}}
</div>

<div *ngIf="staticDanger!=null" class="alert alert-danger">
  <strong>Danger!</strong> {{staticDanger}}
</div>
